[Unit]
Description=Python ftp honeypot
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/ftppot.py
[Install]
WantedBy=multi-user.target
