[Unit]
Description=Python telnet honeypot
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/telpot.py
[Install]
WantedBy=multi-user.target
